header{
    background-color:$header-b-color;
    width:100%;
    padding: 1rem;
        h1{
            font-size: 3rem;
        
            i{
                font-size: 3rem;
            }
        }    
}
